<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sptpc.persistence.UserLoginMapper">

  <cache />
  <select id="getUserLogin" parameterType="Userlogin" resultType="Userlogin">
  	select 
  		userlogin.userID,
  		userlogin.userName,
  		userlogin.password,
  		userlogin.role,
  		role.roleName
  	from role,userlogin 
  	where role.roleID=userlogin.role 
  		and userName=#{userName} 
  		and password=#{password}
  </select> 

</mapper>